* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

div.body-container {
  min-height: 100%;
}

.nav-container {
  height: 80px;
  background: #FFFFFF;
  border: none;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.nav-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

nav.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav .logo {
  margin-top: -10px;
  margin-left: 100px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  color: black;
}

.nav-items li {
  list-style: none;
  display: flex;
}

.nav-items li:hover:not(:last-child) a {
  background-color: black;
  color: #FFFFFF;
}

.nav-items li a {
  width: 150px;
  height: 80px;
  left: 1200px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9A9A9A;
}

.nav-items li.active a{
  font-weight: 500;
  color: black;
}

img.search-btn {
  width:30px;
  height:30px;
}

.search-container {
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.searchbox {
  padding-bottom: 5px;
  width: 559px;
  height: 56px;
  background: #FFFFFF;
  /* bar */
  border: none;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #9A9A9A;
}

.submit-btn {
  width: 56px;
  height: 56px;
  background: #000000;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  padding-top: 7px;
}

.hiddenRow {
  padding: 0px !important;
}

td[aria-expanded=true] img {
  transition: .3s transform ease-in-out;
  transform: rotate(180deg);
}

.ontology-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-table{
  margin-top: 50px;
  margin-bottom: 40px;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.category-col{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

th {
  width: 160px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #9A9A9A;
  position: relative;
  transform: perspective(1px) translateY(-30%);
}

th.main-input{
  width: 30px;
}

td {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  /* identical to box height, or 225% */
  color: #9A9A9A;
}

tr.main-row {
  height: 50px;
}

.main-table th, td {
  text-align: left;
  border-bottom: 1px solid #E5E5E5;
}

.collapsible-table td {
  width: 160px;
}

td.sub-input{
  width: 30px;
}

td.indentation {
  width: 30px;
  border: none;
}

td.sub-category {
  width: 130px;
}

.download {
  margin-top: 5px;
  background-color: black;
  color: #FFFFFF;
  border: none;
  width: 118px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

}

.cancel {
  margin-top: 5px;
  border: none;
  width: 60px;
  height: 30px;
}

div.modal-dialog.modal-sm {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-top: 340px;
}

div.modal-content {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

p.popup-header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
}

p.curl-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.modal-body {
  text-align: left;
  border: none;
}

.modal-footer {
  height: 70px;
}

input.curl-link-box {
  width: 266px;
  height: 40px;
  background: #F8F8F8;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 2px;
  color: #9A9A9A;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
}

td.count, th.count {
  width: 40px;
}

audio {
  height: 36px;
  width: 280px;
}

//audio::-webkit-media-controls-panel{
//}
//
//audio::-webkit-media-controls-mute-button{
//}
//
//audio::-webkit-media-controls-play-button{
//}
//
//audio::-webkit-media-controls-timeline-container{
//
//}
//
//audio::-webkit-media-controls-current-time-display{
//
//}
//
//audio::-webkit-media-controls-time-remaining-display{
//
//}
//
//audio::-webkit-media-controls-timeline{
//
//}
//
//audio::-webkit-media-controls-volume-slider-container{
//}
//
//audio::-webkit-media-controls-volume-slider{
//}
//
//audio::-webkit-media-controls-seek-back-button{
//
//}
//
//audio::-webkit-media-controls-seek-forward-button{
//
//}
//
//audio::-webkit-media-controls-fullscreen-button{
//
//}
//
//audio::-webkit-media-controls-rewind-button{
//
//}
//
//audio::-webkit-media-controls-return-to-realtime-button{
//
//}
//
//audio::-webkit-media-controls-toggle-closed-captions-button{
//
//}

th.audio-col {
  text-align: center;
}

td.audio-col{
  width: 300px;
  position: relative;
  transform: perspective(1px) translateY(14%);
}

div.results-info {
  margin: 0 auto;
  width: 615px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.sign-up-log-in {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  background-color: white;
  color: #000000;
  margin-right: 100px;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  height: 40px;
  width: 145px;
  margin-bottom: 5px
}

img.search-submit {
  margin-bottom: 3px;
}

div.image-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*width: 1920px;*/
  background-color: black;
  height: 718px;
}

img.human {
  background: linear-gradient(to right, rgba(255,255,255,0) 100%,rgba(255,255,255,1) 100%);
}

p.slogan {
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 120px;
  /* or 150% */
  color: #FFFFFF;
  width: 800px;
  margin-left: 100px;

}

div.info {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  margin-bottom: 100px;
  margin-right: 100px;
  justify-content: space-between;
}

p.project-name {
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  margin-left: 100px;
  margin-top: 110px;
  margin-bottom: 80px;
}

p.content {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */
  color: #3F3F3F;
  width: 400px;
  margin-left: 100px;
}

a.our-team {
  margin-left: 100px;
}

div.dataset {
  display: flex;
  align-items: center;
  background-color: #000000;
}

p.dataset-title {
  display: flex;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  color: #FFFFFF;
}

p.data {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 27px;
  /* identical to box height, or 34% */
  color: #FFFFFF;
}

span.label {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
}

div.dataset-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

div.info-rows{
  width: 1150px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 100px;
}

footer {
  width:100%;
}

footer div {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

footer div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

div.audio-collection {
  background-color: black;
}

p.audio-text{
  margin-left: 100px;
  padding-top: 110px;
  padding-bottom: 60px;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: white;
}

p.header {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  /* identical to box height, or 112% */
  color: #FFFFFF;
}

p.intro {
  width: 420px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */
  color: #FFFFFF;
}

div.line {
  margin-bottom: 70px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  height: 320px;
}

.arrow {
  margin-top: 30px;
  margin-bottom: 80px;
  height: 35px;
  width: 35px;
  border: black;
}

div.details {
  margin-left: 100px;
}

p.details-text {
  margin-top: 110px;
  margin-bottom: 40px;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
}

div.audio-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

div.core-team {
  padding-left: 100px;
}

p.core-team-title{
  padding-top: 80px;
  padding-bottom: 100px;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  color: #3F3F3F;

}

p.core-team-header {
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */
  color: #3F3F3F;
}

p.core-team-text {
  width: 500px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */
  color: #3F3F3F;
}

div.core-team-content {
  display: flex;
  margin-bottom: 100px;
  margin-right: 100px;
}

div.avatar-part {
  width: 1200px;
  display: flex;
}

a.avatar {
  margin-left: 80px;
}

div.contributors{
  padding-left: 100px;
  background: #E5E5E5;
}

p.contributor-title {
  padding-top: 80px;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  color: #3F3F3F;
}

div.each-contributor {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height, or 169% */
  color: #3F3F3F;

}

img.contributor{
  padding-bottom: 16px;
  padding-right: 60px;
}

div.each-chart {
  margin-right: 200px;
  width: 500px;
  margin-bottom: 40px;
}

dl {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  position: relative;
}

p.bar-title {
  align-self: flex-start;
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 20px;
}

.text {
  margin-left: -150px;
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  /* identical to box height, or 100% */
  color: #808080;
  display: flex;
  align-items: center;
  height: 18px;
  width: 150px;
  background-color: white;
  position: absolute;
  justify-content: flex-start;
}

.bar-count {
  font-size: .8em;
  //line-height: 1;
  width: 100%;
  height: 18px;
  margin-left: 150px;
  background: repeating-linear-gradient(
                  to right,
                  #ddd,
                  #ddd 1px,
                  #fff 1px,
                  #fff 5%
  );
  div.x {
    margin-right: 10px;
    display: flex;
    font-style: italic;
    justify-content: flex-end;
    align-items: center;
    font-family: "Lato", sans-serif;
    background-color: #3CDA9E;
    width: 50px;
    margin-bottom: 10px;
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease;
    cursor: pointer;
  }
}

div.each-chart:nth-of-type(4n+3) .bar-count div.x, div.each-chart:nth-of-type(4n) .bar-count div.x{
    color: white;
    background-color: #000000;;
}

.bar-count:hover, :focus, div.each-chart:nth-of-type(4n+3) .bar-count:hover, :focus, div.each-chart:nth-of-type(4n) .bar-count:hover, :focus, {
  div.x {
    background-color: #aaa;
  }
}

//sass/scss
//@for $i from 0 through 1000 {
//  .bar-count-#{$i} {
//    div.x {
//      @if $i != 0 {
//        content: $maxCount + "\00a0\00a0";
//      }
//      $value: ($i * 3%);
//      width: $value;
//    }
//  }
  //div.each-chart:nth-of-type(4n+3) .bar-count-#{$i} {
  //  &:after {
  //    @if $i != 0 {
  //      content: $i + "\00a0\00a0";
  //    }
  //    $value: ($i * 3%);
  //    width: $value;
  //  }
  //}
  //div.each-chart:nth-of-type(4n) .bar-count-#{$i} {
  //  &:after {
  //    @if $i != 0 {
  //      content: $i + "\00a0\00a0";
  //    }
  //    $value: ($i * 3%);
  //    width: $value;
  //  }
  //}
//}


