* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;

}
.nav-container {
    height: 120px;
    background: #FFFFFF;

}
.nav-wrapper {
    max-width: 1920px;
    margin: 0 auto;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;

}
nav .logo {
    margin-left: 40px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: black;

}
.nav-items li {

    list-style: none;
    display: flex;



}

.nav-items li:hover:not(:last-child) a {
    background-color: black;
    color: #FFFFFF;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}
.nav-items li a {
    width: 150px;
    height: 120px;
    left: 1200px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9A9A9A;

}
.nav-items li.active a{
    font-weight: 500;
    color: black;
}

.body-container {
    height: 1200px;

}


.search-slogan {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #000000;
}
.search-container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.searchbox {

    width: 559px;
    height: 67px;
    background: #FFFFFF;
    /* bar */
    border: none;

    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);

    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #9A9A9A;

}
.submit-btn {
    width: 67px;
    height: 67px;
    background: #000000;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    padding-top: 5px;
}

.result {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.result table {
    margin: 0 auto;
}