doctype html
html(lang='en')
    head
        title Audio Dataset
        link(rel="stylesheet", type="text/css", href="/style.css")
    body
        div.nav-container
            div.nav-wrapper
                nav
                    div.logo Echoes
                    ul.nav-items
                        li
                            a(href='/') Home
                        li
                            a(href='/dataset') Dataset
                        li
                            a(href='/people') People
                        li.active
                            a(href='/future') Future
                        li
                            a.nav-btn-container(href='#' )
                                img.search-btn(src="/images/search.png" alt="search icon")
        div.body-container


        script(type='text/javascript' src='script.js' defer='defer')