doctype html
html(lang='en')
    head
        title Audio Dataset
        link(rel="stylesheet", type="text/css", href="/style.css")
    body
        div.nav-container
            div.nav-wrapper
                nav
                    div.logo Echoes
                    ul.nav-items
                        li
                            a(href='/') Home
                        li.active
                            a(href='/dataset') Dataset
                        li
                            a(href='/people') People
                        li
                            a(href='/future') Future
                        li
                            a.nav-btn-container(href='#' )
                                img.search-btn(src="/images/search.png" alt="search icon")
        div.body-container
            div.search-slogan Search place, object and scenario

            div.search-container
                form(method='get')
                    if query && query.length > 0
                        input.searchbox(type='text' id='q' name='q' value=query)
                    else
                        input.searchbox(type='text' id='q' name='q' placeholder="What sounds are you looking for?")
                    button.submit-btn(type='submit' value='Search')
                        img(src="/images/search-submit.png" alt="search icon")
            div.result
                if results.length
                    table
                        thead
                            tr
                                th Label
                                th Audio
                                th
                        tbody
                            each category in results
                                each sound in category.sounds
                                    - var down = '/d' + sound
                                    tr
                                        td #{category.sub}
                                        td 
                                            audio(controls preload='none' src=sound)
                                            
                                        td
                                            a(href=down target="_blank") Download
                        tfoot
                            tr
                                th(colspan='3')

                else
                    p No results

                script(type='text/javascript' src='script.js' defer='defer')